* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-family: 'Quicksand', sans-serif;
    display: flex; /* Align items */
    flex-direction: column; /* Vertical direction */
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Take full browser height */
    color: white;
    text-shadow: 
    -1px -1px 0 black,  /* Top-left shadow */
     1px -1px 0 black,  /* Top-right shadow */
    -1px  1px 0 black,  /* Bottom-left shadow */
     1px  1px 0 black;  /* Bottom-right shadow */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#time{

    font-size: 8rem;

}

h1{

    margin-bottom: 3rem;

}

h2{

    margin-bottom: 0.5rem;
    opacity: 0.6;

}

/* Responsive design */

@media(max-width: 700px){

    #time{

        font-size: 6rem;

    }

}